<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Binary Paint</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/static/unicorn-bitmap.css">
	
	
	<script src="/static/jscolor.js"></script>
	
	<script type="text/javascript" src="/static/jquery.min.js"></script>
	<script type="text/javascript" src="/static/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/static/unicorn-bitmap.js"></script>
	
</head>
<body>
	
	<div class="unicorn">
		<h1>Binary Paint</h1>
		<table cellspacing="0" cellpadding="0" border-collapse="collapse">
			<tr>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<th><input class="binary" value="00000000" type="text" /></th>
			</tr>
			<tr>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<th><input class="binary" value="10000000" type="text" /></th>
			</tr>
			<tr>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<th><input class="binary" value="10000100" type="text" /></th>
			</tr>
			<tr>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<th><input class="binary" value="10000000" type="text" /></th>
			</tr>
			<tr>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<th><input class="binary" value="11110100" type="text" /></th>
			</tr>
			<tr>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<th><input class="binary" value="10010100" type="text" /></th>
			</tr>
			<tr>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<th><input class="binary" value="10010100" type="text" /></th>
			</tr>
			<tr>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<td data-color="0" style="background:rgb(0,0,0);"></td>
				<th><input class="binary" value="10010100" type="text" /></th>
			</tr>
		</table>
		
	</div>
	
	<div>
		Off <input id="offcolour" class="jscolor {onChange:'update(this)'}" value="000000" length="8" size="8"><br />
		On <input id="oncolour" class="jscolor {onChange:'update(this)'}" value="ffffff" length="8" size="8"><br />
		<button id="background-toggle" value="black">Toggle Background</button>
	</div>	
</body>
</html>
